@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/recentes.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco-principal: #FFFFFF;
    --amarelo-destaque: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    margin: 0;
    overflow-x: hidden;
}
