.contato {
    padding: 1em;
    background-color: var(--branco-principal);
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.contato__texto {
    font-size: 16px;
    font-weight: 300;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 1em 0;
}

.contato__email{
    background-color: transparent;
    border: 1px solid #002F52;
    border-radius: 24px;
    width: 90%;
    padding: 1em;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__email::placeholder {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 3em;
    background: url("../img/Email.svg") no-repeat; 
    background-position: 1em;
}
    

@media screen and (min-width:1024px) {
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .contato__titulo{
        font-size: 24px;
    }

    .contato__descricao{
        margin-right: 5em;
        max-width: 40%;
    }

    .contato__email{
        width: 30%;
    }
}

@media screen and (min-width:1728px) {
    .contato{
        padding: 3em 25em;
    }
}