.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__label > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked~.container__label {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
    display: inline-block;
    max-width: 100%;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco-principal);
}

.lista-menu__titulo {
    color: var(--amarelo-destaque);
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1rem;
}

.lista-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-principal);
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-logo);
        font-size: 30px;
        color: var(--preto);
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        list-style: none;
        gap: 2em;
        margin: 0;
        padding: 0;
    }

    .opcoes__item {
        font-family: var(--font-principal);
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--preto);
        padding: 1em 2em;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista-menu {
        display: inline-block;
        width: auto;
        left: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__label > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco-principal);
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco-principal);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    
    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0em 4em;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 2em;
    }
}